<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <%- include ('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <div class="pt-2 text-center d-flex justify-content-center align-items-center">
       <div class="btn-responsive" id="btn-responsive">
            <button class="btn-lg btn btn-outline-secondary text-white btn-block">
                <a href="/" class="text-white">Home</a>
            </button>

            <button class="btn-lg btn btn-outline-secondary text-white ">
                <a href="/contact" class="text-white">Contact Me</a>
            </button>
       </div>

        
    </div>
    <main class="vh-100 container text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About Me</h1>
            <p>Soy Angel De Jesus Mejia Diosdado, un pequeño desarrolador web de 17 años por cumplir los 18 en algunos meses, que apenas lleva 1 año aprendiendo sobre desarrolo web, asi que no esperen por ahora mucho de mi, pero con el pasar del tiempo, ire mejorando mis sitios webs, este es mi 2do sitio web desplegado en la web, hecho con Express, NodeJs y BootStrap, espero les guste este sencillo sitio web, sin mas, Enjoy ;).</p>

            <h4 class="text-uppercase">Si quieren saber mas sobre mi, o sobre mas proyectos mios, visiten el contacto de la misma pagina</h4>
        </section>
    </main>


</body>
</html>