<footer class="bg-dark p-4 text-center d-flex justify-content-center align-items-center">
    <h3>Esta es mi 2da pagina web desarrolada oficialmente, solo por mi, hecha con NodeJs, un poco de React y tambien un poco de BootStrap (claro html, css y ejs), esta sujeta a fallos, y no ser responsive al 100%, a futuro talvez se actualize con pequeños cambios como el funcionamiento del formulario final :).</h3>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
    
</script>